@media (max-width: 450px) {
    .image-container img {
        width: 200px;
    }
}
@media (max-width: 400px) {
    .image-container img {
        width: 150px;
    }
    .reset-btn {
        width: 150px;
    }
}
